@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #3C5A7D;
    border-radius: 20px;
    width: 700px;
    margin: auto;
    padding: 10;
    box-shadow: 7px 7px 15px;
}